/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sectionHeader {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.promo {
  width: 100%;
  border-radius: 7px;
}

.frameworksList {
  list-style: none;
  text-align: center;
  padding: 0;
}

.frameworksList li {
  display: inline;
  margin: 1rem;
}

.frameworksList li img {
  max-width: 80px;
  max-height: 80px;
  opacity: 0.8;
  filter: grayscale(90%);
}

.frameworksList li img:hover {
  filter: none;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .sectionHeader {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}