.typing__container {
  font-family: var(--ifm-font-family-monospace);
  font-size: 1.2em;
  margin: 4rem 0 0;
  color: var(--ifm-color-gray-600);
  user-select: none;
}

@media screen and (max-width: 996px) {
  .typing__container {
    display: none;
  }
}
